APP_SALT="16a4c7f89c4b2e9ba2f995d090af2124592b5896"
APP_FS_ROOT="./_APPFS_"
DB_DEFAULT_DRIVER="postgres"
DB_DEFAULT_DSN="host=host port=5432 user=user password=password dbname=dbname sslmode=disable TimeZone=UTC"
HTTP_LISTEN_BIND="0.0.0.0:3000"
HTTP_BASE_PATH=""
RPC_LISTEN_BIND="localhost:8080"
TIMEZONE="Asia/Jakarta"