APP_SALT="16a4c7f89c4b2e9ba2f995d090af2124592b5896"
PROVIDER_DB="default"
DB_DEFAULT_DRIVER="mysql"
DB_DEFAULT_HOST="localhost"
DB_DEFAULT_PORT=5432
DB_DEFAULT_USER="root"
DB_DEFAULT_PASSWORD=""
DB_DEFAULT_DATABASE="servicedb"
FASTHTTP_LISTEN_BIND="0.0.0.0:3000"
FASTHTTP_BASE_PATH=""
RPC_LISTEN_BIND="localhost:8080"
TIMEZONE="Asia/Jakarta"
DB_SAMPLE_DATABASE="SAMPLEDB"
DB_SAMPLE_HOST="localhost"
DB_SAMPLE_INSTANCE_NAME="SQLEXPRESS"